<h3 style="font-family:sans-serif;font-size:14pt">
  Thanks for your inquiry! Here's my take:
</h3>

<p style="font-size:14pt;font-family:sans-serif">
  <%= @advice.content %>
</p>

<p style="font-family:sans-serif;font-size:14pt;margin-top:10px">
  Cheers,<br>
  <span style="color:red">Neilbot</span>
</p>